
.bemvindo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(index-img/background.svg) repeat center center;
    margin: 2% 0;
}
.bemvindo img{
    width: 23%;
}

h1{
    font-size: 2em;
    font-weight: normal;
}
.secoes{
    margin: 3% 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grids{
    margin: 5% 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
}
.flexes img{
    width: 50%;
	margin: 2% 0;
	border-radius: 60%;
	/* box-shadow: 0 4px 6px 0 rgba(0 ,0 ,0 , 0.4),  0 6px 10px 0 rgba(0 ,0 ,0 , 0.19);	 */
}
.nome-produto{
    font-size: 1.2em;
    font-family: "courgette";
    margin: 0.5% auto;
    font-weight: normal;
}
.preco-produto{
    font-family: courgette;
    font-size: 1.9em;
    font-weight: bold;
    color:#085e08; 
}
.preco-produto sup{
    color:#085e08;
    background-color: white; 
    font-size: .5em;
}

.flexes{
    position: relative;
    margin:4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-grin-hearts{
    color: white;
    position: absolute;
    font-size: 3.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{transition: .4s ease;}

.flexes:hover img{ 
    filter: brightness(1.1) contrast(1.1); 
    transition: .4s ease;
    box-shadow: 0 4px 6px 0 rgba(0 ,0 ,0 , 0.4);
}
.flexes:hover .overlay{
    opacity: 1;
    border-radius: 15% 
}
.container-novidades:hover img{ 
    filter: brightness(1.1) contrast(1.1); 
    transition: .4s ease;
    box-shadow: 0 4px 6px 0 rgba(0 ,0 ,0 , 0.4);
}
.container-novidades:hover .overlay{
    opacity: 1;
    border-radius: 0%;
}

.btn-index{
    background-color: #fff9f1;
    padding: 1%;
}
.btn-index:hover{
    background-color: #b6a58e;
}

.categoria-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.categoria-item .fas{
    font-size: 3.5em;
    color:white;
    border-radius: 100%;
    /* background-color: rgb(255, 127, 7); */
    padding: 20%;
    transition: .4s ease;
}  

.categoria-item span{
    font-size: 1.2em;
    font-family: "courgette";
    margin: 0.5% auto;
    font-weight: normal;
}

/* animacao categoria */
.fas:hover{
    border-radius: 0%;
    transition: .4s ease;
}
/* fim animacao */

/* fim categorias */

/* uma novidade */
.container-novidades{
    margin: 3% 0;
    position: relative;
    padding: 5%;
	display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.info-produto strong{
	font-size: 1.5em;
    text-align: center;
    font-family: courgette;
}
.info-produto{
    
    display: flex;
    flex-direction: column;
}
.info-produto .texto-sobre{
    margin: 5% auto;
    width: 80%;
    font-family:sans-serif;
    font-size: 1em;
    text-align: center;
}
.info-produto .preco-produto{
	color: #085e08;
    background-color: white;
	display: block;
	font-size: 2em;
    text-align: center;
    font-family: "courgette";
} 
.container-novidades img{
    width: 70%;
    margin: 0 auto;
	height: auto;
	border-radius: 90%;
}
/* fim uma novidade */
/* .nuvem-direita{

    transform: translate(80%,-20%) scale(0.2);
}

.nuvem-esquerda{
    
    transform: translate(-80%,-10%) scale(0.2);
} */